<h1>Add a Room <small>Building Name Here</small></h1>

<?php

echo $this->Form->create('Room');
echo $this->Form->input('Room.number');
echo $this->Form->input('Room.building_id');
//echo $this->Form->input('directions'); //not needed just yet
//echo $this->Form->input('description'); //not needed just yet
echo $this->Form->end('Create Room');
?>
