<h1>Add a building <small>describ page here</small></h1>
<?php
echo $this->Form->create('Building', array(
	'class' => 'well'));
echo $this->Form->input('name');
echo $this->Form->end('Create Building');
?>
