<h1>Add a loaction Id<small>Building Name Here</small></h1>

<?php

echo $this->Form->create('LocationId');
echo $this->Form->input('Building');
echo $this->Form->input('Room');
echo $this->Form->input('Item');
//echo $this->Form->input('directions'); //not needed just yet
//echo $this->Form->input('description'); //not needed just yet
echo $this->Form->end('Create Room');
?>
