<h2>Location ID</h2>

<?php print_r($locationId);?>

<p>
	<?php 
	echo $this->Html->link(
		        'Add an Location ID', array(
		        'controller' => 'locationIds',
		        'action'     => 'add',
		        $locationId //TODO 
		        )
	); 
	?>
</p>