<h1>Add a Path <small></small></h1>
<?php
echo $this->Form->create('Path');
echo $this->Form->input('name');
//echo $this->Form->input('name'); no longer needed
//echo $this->Form->input('directions'); //not needed just yet
//echo $this->Form->input('description'); //not needed just yet
echo $this->Form->end('Create Path');
?>
