<h1>Move <?php echo $item[0]['Item']['type'];?> <small><?php echo $item[0]['Item']['serial_number']; ?></small></h1>

<?php
echo $this->Form->create('Item', array(
	'action' => 'move',
	'class'  => 'well'));

     $this->Form->input('id');
echo $this->Form->input('rooms_id');

echo $this->Form->end('Move Item');
?>
