<h1>Add an item <small>Room: RB, Building Name Here if exists</small></h1>

<?php
echo $this->Form->create('Item');
echo $this->Form->input('room_building_id');
echo $this->Form->input('room_id');
echo $this->Form->input('Serial Number');
echo $this->Form->end('Create Item');
?>
